[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
sip_privacy = "SiPpRiv4cyYhWDqPdBqhUVrBBGhSKzjnV9hQYmzQPLA"

[programs.devnet]
sip_privacy = "SiPpRiv4cyYhWDqPdBqhUVrBBGhSKzjnV9hQYmzQPLA"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
